[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CBNplot"]
	path = CBNplot
	url = https://github.com/noriakis/cbnplot
[submodule "ggkegg"]
	path = ggkegg
	url = https://github.com/noriakis/ggkegg
